In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
store_Locations_dataset = pd.read_excel("Sample Dataset (1).xlsx", sheet_name="Store Locations Sheet")
dataset = pd.read_excel("Sample Dataset (1).xlsx")
dataset = dataset.replace("", float('nan')).fillna(0.0)
dataset['Sales Channel'] = dataset['Sales Channel'].replace("On line", "Online")
dataset['Sales Channel'] = dataset['Sales Channel'].replace("In Store", "In-Store")
dataset_version_1 = dataset
dataset_version_1["Total Price"] = dataset_version_1["Order Quantity"]*dataset_version_1["Unit Price"]
list_of_max_Outlier_Indexes = list(dataset_version_1[dataset_version_1["Total Price"]==dataset_version_1["Total Price"].max()].index)
for i in list_of_max_Outlier_Indexes:
    dataset_version_1.drop(i, inplace=True)
list_of_min_Outlier_Indexes = list(dataset_version_1[dataset_version_1["Total Price"]==dataset_version_1["Total Price"].min()].index)
for i in list_of_min_Outlier_Indexes:
    dataset_version_1.drop(i, inplace=True)
list_of_min_Outlier_Indexes = list(dataset_version_1[dataset_version_1["Total Price"]==dataset_version_1["Total Price"].min()].index)
for i in list_of_min_Outlier_Indexes:
    dataset_version_1.drop(i, inplace=True)
dataset_version_1.loc[dataset_version_1["Order Quantity"] == dataset_version_1["Order Quantity"].min(),"Order Quantity"] = 4
dataset_version_1

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,SalesTeam Code,Customer Code,Store Code,Product Code,Order Quantity,Discount Applied,Unit Price,Unit Cost,Total Price
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,259,12,5.0,0.075,1963.1,1001.181,9815.5
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,196,27,3.0,0.075,3939.6,3348.660,11818.8
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,213,16,1.0,0.050,1775.5,781.220,1775.5
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,107,23,8.0,0.075,2324.9,1464.687,18599.2
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,111,26,8.0,0.100,1822.4,1476.144,14579.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7477,SO - 0007581,Distributor,WARE-UHY1004,2020-06-18,2020-10-31,2020-11-10,2020-11-14,USD,24,24,229,31,1.0,0.100,998.3,628.929,998.3
7478,SO - 0007582,In-Store,WARE-UHY1004,2020-06-18,2020-10-31,2020-11-05,2020-11-08,USD,7,1,238,26,3.0,0.100,3932.9,2831.688,11798.7
7479,SO - 0007583,In-Store,WARE-XYS1001,2020-06-18,2020-10-31,2020-11-10,2020-11-16,USD,4,24,58,5,2.0,0.150,3698.4,3106.656,7396.8
7480,SO - 0007584,In-Store,WARE-NMK1003,2020-06-18,2020-10-31,2020-11-08,2020-11-11,USD,10,42,113,24,5.0,0.200,1788.9,966.006,8944.5
7481,SO - 0007585,In-Store,WARE-NMK1003,2020-06-18,2020-10-31,2020-11-23,2020-11-28,USD,9,33,187,8,6.0,0.050,971.5,777.200,5829.0

In [4]:
loc_en_dataset = pd.merge(dataset_version_1, store_Locations_dataset, left_on='Store Code', right_on='_StoreID', how='inner')
loc_en_dataset

dataset = 'Sample Dataset (1).xlsx'
sheet = pd.read_excel(dataset, sheet_name='Customers Sheet')
sheet["Customer Names"] = sheet["Customer Names"].replace(" ", "Anonymous")
loc_en_dataset1 = pd.merge(loc_en_dataset, sheet, left_on='Customer Code', right_on='_CustomerID', how='inner')

sheet = pd.read_excel(dataset, sheet_name='Products Sheet')
sheet = sheet.dropna(axis=1)
loc_en_dataset2 = pd.merge(loc_en_dataset1, sheet, left_on='Product Code', right_on='ID', how='inner')

sheet = pd.read_excel(dataset, sheet_name='Regions Sheet')
sheet = sheet.dropna(axis=1)
loc_en_dataset3 = pd.merge(loc_en_dataset2, sheet, left_on='StateCode', right_on='StateCode', how='inner')

sheet = pd.read_excel(dataset, sheet_name='Sales Team Demographic')
loc_en_dataset4 = pd.merge(loc_en_dataset3, sheet, left_on='SalesTeam Code', right_on='_SalesTeamID', how='inner')

sheet = pd.read_excel(dataset, sheet_name='Sales Team Sheet')
sheet = sheet.dropna(axis=1)
loc_en_dataset5 = pd.merge(loc_en_dataset4, sheet, left_on='SalesTeam Code', right_on='_SalesTeamID', how='inner')

loc_en_dataset6 = loc_en_dataset5.drop(columns=['WarehouseCode', 'CurrencyCode',
       'SalesTeam Code', 'Customer Code', 'Product Code', 'County', 'Type', 'Latitude', 'Longitude', 'AreaCode', 'Water Area',
       'Time Zone', '_CustomerID', 'ID', '_SalesTeamID_x', 'City Name', 'StateCode', '_StoreID', 'Land Area', 'State_y', 'Sales Team_x', '_SalesTeamID_y', 'Region_y', 'Sales Team_y', 'Region'], inplace=False)

x = loc_en_dataset6["DeliveryDate"]-loc_en_dataset6["OrderDate"]
loc_en_dataset6.insert(loc=18, value=x, column="Delivery Delay")

loc_en_dataset6

,OrderNumber,Sales Channel,ProcuredDate,OrderDate,ShipDate,DeliveryDate,Store Code,Order Quantity,Discount Applied,Unit Price,Unit Cost,Total Price,State_x,Population,Household Income,Median Income,Customer Names,Product Name,Delivery Delay,Region_x
0,SO - 000101,In-Store,2017-12-31,2018-05-31,2018-06-14,2018-06-19,259,5.0,0.075,1963.1,1001.181,9815.5,New York,213776,68789,80327,Rochester Ltd,Dining Furniture,19 days,Northeast
1,SO - 000102,Online,2017-12-31,2018-05-31,2018-06-22,2018-07-02,196,3.0,0.075,3939.6,3348.660,11818.8,Kansas,186515,74830,72463,Anonymous,Wreaths,32 days,Midwest
2,SO - 000103,Distributor,2017-12-31,2018-05-31,2018-06-21,2018-07-01,213,1.0,0.050,1775.5,781.220,1775.5,Michigan,117070,47179,55990,"3LAB, Ltd",Stemware,31 days,Midwest
3,SO - 000104,Wholesale,2017-12-31,2018-05-31,2018-06-02,2018-06-07,107,8.0,0.075,2324.9,1464.687,18599.2,Connecticut,130322,49771,37192,"Fenwal, Corp",Accessories,7 days,Northeast
4,SO - 000105,Distributor,2018-04-10,2018-05-31,2018-06-16,2018-06-26,111,8.0,0.100,1822.4,1476.144,14579.2,Connecticut,108802,40213,40467,Bare,Candles,26 days,Northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7474,SO - 0007581,Distributor,2020-06-18,2020-10-31,2020-11-10,2020-11-14,229,1.0,0.100,998.3,628.929,998.3,North Carolina,159769,56034,91579,Burt's Corp,Candleholders,14 days,South
7475,SO - 0007582,In-Store,2020-06-18,2020-10-31,2020-11-05,2020-11-08,238,3.0,0.100,3932.9,2831.688,11798.7,North Dakota,118523,49962,46175,Avon Corp,Candles,8 days,Midwest
7476,SO - 0007583,In-Store,2020-06-18,2020-10-31,2020-11-10,2020-11-16,58,2.0,0.150,3698.4,3106.656,7396.8,California,158351,42720,52392,Burt's Corp,Bathroom Furniture,16 days,West
7477,SO - 0007584,In-Store,2020-06-18,2020-10-31,2020-11-08,2020-11-11,113,5.0,0.200,1788.9,966.006,8944.5,District of Columbia,672228,273390,70848,Llorens Ltd,Wall Frames,11 days,South
7478,SO - 0007585,In-Store,2020-06-18,2020-10-31,2020-11-23,2020-11-28,187,6.0,0.050,971.5,777.200,5829.0,Indiana,157105,58240,44334,Trigen,Cocktail Glasses,28 days,Midwest

In [29]:
temp_df = loc_en_dataset6[["Sales Channel", "Delivery Delay", "State_x", "Region_x"]]
temp_df["OrderYear"] = loc_en_dataset6["OrderDate"].dt.year
temp_df

C:\Users\zenda\AppData\Local\Temp\ipykernel_19364\3739722080.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["OrderYear"] = loc_en_dataset6["OrderDate"].dt.year

     Sales Channel Delivery Delay               State_x   Region_x  OrderYear
0         In-Store        19 days              New York  Northeast       2018
1           Online        32 days                Kansas    Midwest       2018
2      Distributor        31 days              Michigan    Midwest       2018
3        Wholesale         7 days           Connecticut  Northeast       2018
4      Distributor        26 days           Connecticut  Northeast       2018
...            ...            ...                   ...        ...        ...
7474   Distributor        14 days        North Carolina      South       2020
7475      In-Store         8 days          North Dakota    Midwest       2020
7476      In-Store        16 days            California       West       2020
7477      In-Store        11 days  District of Columbia      South       2020
7478      In-Store        28 days               Indiana    Midwest       2020

[7479 rows x 5 columns]

In [30]:
northeast_delay = temp_df[temp_df["Region_x"]=="Northeast"]
midwest_delay = temp_df[temp_df["Region_x"]=="Midwest"]
west_delay = temp_df[temp_df["Region_x"]=="West"]
south_delay = temp_df[temp_df["Region_x"]=="South"]

print("Northeast region mean Delay: ", northeast_delay[["Delivery Delay"]].mean())
print("Midwest region mean Delay: ", midwest_delay[["Delivery Delay"]].mean())
print("West region mean Delay: ", west_delay[["Delivery Delay"]].mean())
print("South region mean Delay: ", south_delay[["Delivery Delay"]].mean())

Northeast region mean Delay:  Delivery Delay   20 days 14:35:15.754189944
dtype: timedelta64[ns]
Midwest region mean Delay:  Delivery Delay   20 days 15:54:25.764023210
dtype: timedelta64[ns]
West region mean Delay:  Delivery Delay   20 days 11:28:00
dtype: timedelta64[ns]
South region mean Delay:  Delivery Delay   20 days 21:09:26.075113495
dtype: timedelta64[ns]

In [31]:
instore_delay = temp_df[temp_df["Sales Channel"]=="In-Store"]["Delivery Delay"].mean()
instore_delay

Timedelta('20 days 13:15:46.636626971')

In [32]:
online_delay = temp_df[temp_df["Sales Channel"]=="Online"]["Delivery Delay"].mean()
online_delay

Timedelta('20 days 19:32:23.362831858')

In [33]:
wholesaler_delay = temp_df[temp_df["Sales Channel"]=="Wholesale"]["Delivery Delay"].mean()
wholesaler_delay

Timedelta('20 days 07:21:36')

In [34]:
distributer_delay = temp_df[temp_df["Sales Channel"]=="Distributor"]["Delivery Delay"].mean()
distributer_delay

Timedelta('20 days 21:21:07.132867132')

In [38]:
temp_df.groupby("OrderYear")[["Delivery Delay"]].mean()

                      Delivery Delay
OrderYear
2018      20 days 21:00:53.027823240
2019      20 days 11:13:38.884120171
2020      20 days 17:43:37.806648834

If we were to estimate the days in the table above, then in 2018 and 2020, the delivery delay is approximately of 21 days whereas in 2019, the delivery delay is lesser by 1 day approx, i.e., around 20 days. This is in correlation with the yearly sales report and may be contributing to the reason why the sales in 2019 was higher but lower in 2018 and 2020.

The prime reason is customer loyalty, which was yielding profit when the delivery delay is lesser and the delivery is faster.

No variation of Delivery Delay with respect to region and sales channel was observed.

This means that the regions yielding more profit are also having a mean delay of 20-21 days. Reducing this number especially in those regions should help improve customer loyalty.